@charset "utf-8";
body {
  width: 100%;
  height: 100dvh;
  background-color: #111;
}
h1 {
  position: absolute;
  top: 55%;
  left: 53%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  opacity: 50%;
  font-weight: 600;
  cursor: pointer;
}
/* 쉐도우 */
img {
  filter: drop-shadow(0 0 16px rgba(255, 255, 255, 0.6))
    drop-shadow(0 0 16px rgba(255, 255, 255, 0.4));
    transition: all 0.4s ease-in-out;
}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* btn */

.access{
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-weight: 300;
    cursor: pointer;
}
/* 애니메이션 */
/* 오른쪽(시계방향)으로 계속 회전 */
.spin-right {
  display: inline-block;
  animation: spinRight 10s linear infinite;
  transform-origin: center;
}

@keyframes spinRight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* (옵션) 호버할 때만 회전 */
.spin-right-hover {
  display: inline-block;
  transform-origin: center;
}
.spin-right-hover:hover {
  animation: spinRight 1.2s linear infinite;
}

/* access */
/* 텍스트가 왼쪽→오른쪽으로 “파도처럼” 투명(0)→완전(1)로 지나가는 효과 */
.wave-reveal {
  display: inline-block;
  color: transparent; /* 텍스트 색은 마스크로 보여줄거라 투명 */
  -webkit-text-fill-color: transparent;

  /* 텍스트 자체를 그라데이션으로 칠해서 투명/불투명 구간 만들기 */
  background: linear-gradient(
    90deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0) 35%,
    rgba(255,255,255,1) 50%,
    rgba(255,255,255,0) 65%,
    rgba(255,255,255,0) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;

  /* 그라데이션 폭을 크게 잡아 “파도”가 지나가게 */
  background-size: 250% 100%;
  background-position: 0% 50%;

  animation: waveOpacity 2s ease-in-out infinite;
}

@keyframes waveOpacity {
  100%   { background-position: 0% 50%; }
  0% { background-position: 100% 50%; }
}



/*  */
/*  */
/*  */
.modal{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0 , 0.8);
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
}
.modal.active{
    opacity: 1;
    visibility: visible;
}
.modal-box{
    position: relative;
    width: 400px;
    max-width: 80%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 30px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
input{
    width: 80%;
    padding: 8px;
}
.next{
    padding: 5px 16px;
    font-size: 18px;
    cursor: pointer;
}
.close{
    position: absolute;
    top: 16px;
    right: 24px;
    font-size: 18px;
    cursor: pointer;
}